<!-- FIX THIS -->
<!DOCTYPE html> 
<html>
 <head>
   <title>Hobbyist</title>
   <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="/home_page.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
   integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
   crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link href="https://fonts.cdnfonts.com/css/fjalla-one" rel="stylesheet">
   <link href="https://fonts.cdnfonts.com/css/poiret-one" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shrikhand&family=Tilt+Prism&display=swap" rel="stylesheet">
<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/navbars/">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <style>
    .navbar {
        z-index: 1 !important;
        background-color: orange !important;
        height: 90px;
      }
     </style>
 </head>
   <!-- Add the rest of your website content here -->
   <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <div class="container-fluid">
        <a class="hobbyist navbar-brand" href="/home_page">Hobbyist</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="/home_page">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" style="width: 40px; height: 40px;" alt="Profile Picture" class="rounded-circle me-2">
            <span>Home</span>
          </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex flex-column align-items-center" href="/feed">
              <img src="https://cdn-icons-png.flaticon.com/512/6565/6565268.png" style="width: 40px; height: 40px;" alt="Profile Picture" class="rounded-circle me-2">
              <span>Feed</span>
            </a>
            </li>
          <li class="nav-item dropdown">
          <a class="nav-link d-flex flex-column align-items-center" href="#" id="navbarDropdownFriends" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="  https://cdn-icons-png.flaticon.com/512/10313/10313078.png" style="width: 40px; height: 40px;" alt="Profile Picture" class="rounded-circle me-2">
            <span>Friends</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownFriends">
            <li><a class="dropdown-item" href="/connect_with_friends">Connect with Friends</a></li> <!--FIX THIS-->
            <li><a class="dropdown-item" href="/myFriends_page">My Friends</a></li>
          </ul>
          </li>
          <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="/rooms">
            <img src="https://cdn-icons-png.flaticon.com/512/9234/9234940.png" style="width: 40px; height: 40px;" alt="Profile Picture" class="rounded-circle me-2">
            <span>Rooms</span>
          </a>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link d-flex flex-column align-items-center" href="#" id="navbarDropdownPicture" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src=<%=profile.profilePicture%> style="width: 40px; height: 40px;" alt="Profile Picture" class="rounded-circle me-2">
            <span><%=profile.user.username%></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPicture">
            <li><a class="dropdown-item" href="/profile/<%=profile.user.username%>">My Profile</a></li>
            <li><a class="dropdown-item" href="#">My Posts</a></li> <!--FIX THIS-->
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
          </li>
        </ul>
        </div>
      </div>
      </nav>
 
 
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
 
       <div class="welcome">
           <h1 style="font-family: 'Poiret One', sans-serif; margin-top: 20px"> WELCOME, &nbsp;  <%=profile.user.username%> </h1> <!--FIX-->
         </div>

         <div class="container">
           <div class="block">
             <div class="block-text">
               <h1 style="font-family: 'Fjalla One', sans-serif;">Explore</h1>
               <p style="font-size: 20px">Allows users to easily browse and search for hobbies based on categories, skill level, and location.</p>
             </div>
             <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNTg1OGUxMTM5MDkzNjEwMTEzNjdhNjllZGUwODQ3ZjQwYzNkZWVmZSZjdD1n/ynx1sj5Wz2atO/giphy.gif" alt="A funny GIF" />
            </div>
          
           <div class="block">
             <div class="block-text">
               <h1 style="font-family: 'Fjalla One', sans-serif;">Duel With Friends</h1>
               <p style="font-size: 20px">Challenge friends and compete in different hobbies.</p>
             </div>
             <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMDViNTNkNjkwNjlkNTFhYzJmNGZhMjRmZDA4YTdkMTgwYmEzM2MyNyZjdD1n/l0MYGLQ4aAbq14qWs/giphy.gif" alt="A funny GIF" />
            </div>
          
           <div class="block">
             <div class="block-text">
               <h1 style="font-family: 'Fjalla One', sans-serif;">Study Group</h3>
               <p style="font-size: 20px">Connects users with others who share the same interests and hobbies, and enables them to form study groups and online communities.</p>
             </div>
             <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOTIyZjdlOGQ1ZWNkNGZkOGYxNGVlM2ViYThhNGExNjhlNDU4OTRlNCZjdD1n/fSYjlNlW2eDJCSgGvt/giphy.gif" alt="A funny GIF" />
            </div>
          
           <div class="block">
             <div class="block-text">
               <h1 style="font-family: 'Fjalla One', sans-serif;">Build A Team</h3>
               <p style="font-size: 20px">Form and manage teams and groups related to their hobbies.</p>
             </div>
             <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNGRmZWJhOTZkYWZmZTI5MTY3N2IwNTIyZmRmZjg4MmE1ZWY3YWY3MiZjdD1n/xT5LMGupUKCHb7DnFu/giphy.gif" alt="A funny GIF" />
            </div>
          
           <div class="block">
             <div class="block-text">
               <h1 style="font-family: 'Fjalla One', sans-serif;">Find and Join a Squad</h3>
               <p style="font-size: 20px">Allows users to search for gaming squads that are actively recruiting members.</p>
             </div>
             <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOWE4ZjZhMTkyYjZjYmE2MTk0YTUyYzBjYmQzZGFiODUzMDE3MTc5NSZjdD1n/5BUbbyS3zQ0igeNgY0/giphy-downsized-large.gif" alt="A funny GIF" />
            </div>
         </div>





         <footer>
          <div class="footer-column">
            <p>2023 Hobbyist.</p>
          </div>
          <div class="footer-column">
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
          <div class="footer-column">
           <p>Team</p>
           <ul>
             <li>Ahmad El Hage Ali</li>
             <li>Karim El Akhras</li>
             <li>Leen El Mir</li>
             <li>Adam Ajour</li>
           </ul>
         </div>
          <div class="footer-column">
            <p>Contact</p>
            <ul>
              <li>abe14@mail.aub.edu</li>
              <li>kme29@mail.aub.edu</li>
              <li>lie13@mail.aub.edu</li>
              <li>ama272@mail.aub.edu</li>
            </ul>
          </div>
          <div class="footer-column">
            <p>Follow us</p>
            <div class="social-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </footer>
   </body>
</html>