<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    
    <div class="container">
      <div class="img-container">
        <img src="https://media.discordapp.net/attachments/976997370132848640/1086631420971204688/Axdwq_different_hobbies_as_logos_scattered_2769daa9-c8ae-4bcf-b39e-745fbf16633a.png?width=1026&height=1026" alt="My Image">
      </div>
      <div class="login-container">
        <div class="login-box">
          <h2 style="text-align: center; font-family: 'Lucida Handwriting', cursive; font-size: 40px; color: #FFA500;">The Hobbyist</h2>
          <h2>Login Here</h2>
          <form id="loginForm">
            <div class="user-box">
              <input type="text" name="username" id="username" required="">
              <label>Username</label>
            </div>
            <div class="user-box">
              <input type="password" name="password" id="password" required="">
              <label>Password</label>
            </div>
            <button type="submit" style="background-color: #FFA500; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">Submit</button>
            <div class="message">
              <div class="invalid" id="invalid">Invalid email or password!</div>
            </div>
            <p style="margin-top: 30px;">Don't have an account?
              <a href="/signup" style="text-decoration: underline; color: #FFA500;"> 
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Sign up </a>
            </p> 
          </form>
        </div>
      </div>
    </div>
    <script>
    
      const form = document.getElementById('loginForm');

      form.addEventListener('submit', function (event) {
        
        event.preventDefault();
        invalid.style.display = 'none';
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        
            fetch('/api/auth', {
              method: 'POST',
              body: JSON.stringify({
                username : username,
                password : password
              }),
              headers: {"Content-Type":"application/json; charset=UTF-8" }
            })
            .then((res) => res.json())
            .then((data) => {
              if (data.status != 'ok')  {
                invalid.style.display = 'block';
              }

          })
            
          }
        );
      
    </script>
    
  </body>
</html>
