body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/originals/f2/09/51/f20951bbbcede63d9a5f7e016cc83372.jpg');
    background-size: cover;
}

.hobbyist {
  font-size: 38px !important; /* increase font size */
  font-style: italic; /* make the font italic */
  color: white !important; /* change font color to white */
}
 .nav-link {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 5px !important; /* adjust spacing between the icon and the text */
  margin-right: 30px !important;
  color: white !important;
}
.nav-link:hover {
  color: black !important;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}


.post-content img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.posts-container {
    border: 1px solid #ccc;
    width: 700px;
    height: 760px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #fff;
	border-radius: 20px;
	padding-right: 100px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;

}



.user-info {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
    margin-top: 20px;
}

.user-info img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.delete-icon {
        margin-left: 255px;
        /* display: block; */
        /* margin: 10px auto 0 auto; */
        padding: 3px 20px;  
        border: 2px solid #2196F3;
        border-radius: 25px;
        background-color: #2196F3;
        color: #fff;
        font-size: 0.9rem;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.2s, color 0.2s;
}
    .delete-icon:hover {
      background-color: #fff;
      color: #2196F3;
      border: 2px solid #2196F3;
    }

.post-actions button {
	margin-right: 10px;
}

.comment-section {
	margin-top: 10px;
}

.comment-section ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.comment-section li {
	margin-bottom: 10px;
}

.comment-section p {
	margin: 0;
}

.post-content {
	width: 500px;
	height: 500px;
	margin: 30px 0;
    /* margin-left: 5px; */
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}


.like-img {
  height: 35px;
  width: 37px;
}

.modal-body {
  overflow-y: auto !important;
  max-height: 300px !important;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.caption {
  width: 93%;
  padding: 5px;
  text-overflow: ellipsis;
  margin-top: 10px;
  margin-bottom: 20px;
}

.tag {
  /* background-color: orange; */
  color: #ffffff;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  flex-direction: column;
}