body {
    /* background-color: black; */
      /* background-color: black; */
      /* background-color: #e3f2fd; */
      background-image: url('hobbyist_bg.jpeg');
      background-size: cover;
      margin : 0;
      padding: 0;
      position: relative;
      font-family: Arial, sans-serif;
 }

 a {
  text-decoration: none !important;
}
 
 
.hobbyist {
  font-size: 38px !important; /* increase font size */
  font-style: italic; /* make the font italic */
  color: white !important; /* change font color to white */
}
 .nav-link {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 5px !important; /* adjust spacing between the icon and the text */
  margin-right: 30px !important;
  color: white !important;
}
.nav-link:hover {
  color: black !important;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

 
 
 
  /* Search bar styles */
 .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 200px;
  }
   label {
    margin-right: 10px;
  }
   input[type="text"] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
   button {
    background-color: orange;
    color: white;
    border: 2px solid orange;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
  }
   button:hover {
    background-color: white;
    color: orange;
    border-color: orange;
  }
   button:focus {
    outline: none;
  }
   @media only screen and (max-width: 768px) {
    input[type="text"] {
      width: 150px;
    }
  }
 
 
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    row-gap: 220px; /* add spacing between rows */
  }
   .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px; /* set the height of the grid items */
  }
   .profile-picture {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
   .user-name {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    transition: color 0.3s ease-in-out, font-style 0.3s ease-in-out;
    text-decoration: none !important;
  }
   .user-name:hover {
    color: orange;
    font-style: italic;
  }
   .grid-container > :nth-child(4n + 1), /* select every first item in a row */
  .grid-container > :nth-child(4n + 2), /* select every second item in a row */
  .grid-container > :nth-child(4n + 3), /* select every third item in a row */
  .grid-container > :nth-child(4n + 4) /* select every fourth item in a row */
  {
    grid-row: span 2; /* span 2 rows for each item */
  }
  
  .profile-picture {
    width: 40%; /* make the picture a bit smaller */
    max-width: 200px;
    height: auto;
    border-radius: 50%; /* make the picture rounded */
    border: 2px solid white; /* add a white border */
  }
   .profile-picture:hover {
    transform: scale(1.1); /* magnify the picture by 10% */
    transition: transform 0.2s ease; /* add a smooth transition effect */
  }
  




  .show-more {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;

    border-radius: 20px;
    cursor: pointer;
  }
  
  .show-more:hover button{
    font-style: italic;
  }
 
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 1%;
  left: 40%;
  margin-left: -230px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}