
  body {
  /* background-color: black; */
  /* background-color: #e3f2fd; */
  background-color: white;
  background-size: cover;
  margin : 0;
  position: relative;
  padding: 0;
  font-family: Arial, sans-serif;
 }
 
 
 
  
 
 
 
 
  .welcome {
    position: relative;
    text-align: center;
    color: black;
    /* color : white; */
  }
   .welcome h1 {
    font-size: 48px;
    font-family: 'Tilt Prism', cursive;
    margin: 0;
    padding: 0;
  }


  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 50px;
    
  }
  
  .block {
    width: 100%;
    border-bottom: 1px solid orange;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
  
  }
  
  .block:nth-child(2n) .block-text {
    order: 2;

    margin-right: 0;
    margin-left: 400px;
    text-align: left;
  }
  
  .block:nth-child(2n) img {
    order: 1;
    margin-right: 20px;
    margin-left: 0;
  }
  
  .block img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .block-text {
    color: black;
    font-size: 1.8em; 
    font-family: Times New Roman;
    text-align: left;
    margin-right: 20px;
    flex-grow: 1;
  }
  
  .block-text h3 {
    margin-top: 0;
  }
  
  .block-text p {
    margin-bottom: 0;
  }
  


 
  .hobbyist {
    font-size: 38px !important; /* increase font size */
    font-style: italic; /* make the font italic */
    color: white !important; /* change font color to white */
  }
   .nav-link {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 5px !important; /* adjust spacing between the icon and the text */
    margin-right: 30px !important;
    color: white !important;
 }
 .nav-link:hover {
    color: black !important;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
  }

  
  
  
 
 
  footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding: 20px;
  }
 
 
   .footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
   .footer-column p {
  /* font-weight: bold; */
  font-size: 18px;
  margin: 0 0 10px 0;
  }
   .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  }
   .social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 10px;
  }
   .social-icons i {
  font-size: 24px;
  color: #333;
  }
   .footer-column:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
   .footer-column:nth-child(2) a {
  color: #555;
  margin: 10px 0;
  text-decoration: none;
  font-size: 14px;
  /* font-weight: bold; */
  text-transform: uppercase;
  }
   .footer-column:nth-child(2) a:hover {
  color: #000;
  }
 