main {
    overflow-y: scroll; /* add a scrollbar when the content overflows */
  }
 
 
  body {
  /* background-color: black; */
  background-color: #e3f2fd;
 }
 
 
 
  
 
 
 
 
  .welcome {
    position: relative;
    text-align: center;
    color: black;
    /* color : white; */
  }
   .welcome h1 {
    font-size: 48px;
    font-family: 'Tilt Prism', cursive;
    margin: 0;
    padding: 0;
  }


  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    /* background-color: black; */
    background-color: #e3f2fd;
    padding: 50px;
  }
  
  .block {
    width: 100%;
    /* background-color: black; */
    background-color: #e3f2fd;/*********************************************************/
    /* border-bottom: 1px solid white; */
    border-bottom: 1px solid orange;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  .block:nth-child(2n) .block-text {
    order: 2;

    margin-right: 0;
    margin-left: 400px;
    text-align: left;
  }
  
  .block:nth-child(2n) img {
    order: 1;
    margin-right: 20px;
    margin-left: 0;
  }
  
  .block img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .block-text {
    color: black;
    font-size: 1.8em; 
    font-family: Times New Roman;
    text-align: left;
    margin-right: 20px;
    flex-grow: 1;
  }
  
  .block-text h3 {
    margin-top: 0;
  }
  
  .block-text p {
    margin-bottom: 0;
  }
  


 
 
  header {
    background-color: orange;
    height: 109px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
   .logo h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }

   .logo a {
    color: #ffffff;
    text-decoration: none;
    font-size: 35px;
    /* font-weight: bold; */
    font-family: 'Allura', cursive;
    /* text-shadow: 0px 0px 5px #00ffff; */
    text-shadow: 0px 0px 5px orange;
    display: inline-block;
    transition: transform 0.5s ease;
  }
   .logo a:hover {
    transform: rotate(360deg);
  }
   nav ul {
    display: flex;
  }
   nav li {
    margin-right: 20px;
  }
   nav a {
    /* color: #ffffff; */
    color: white;
    text-decoration: none;
    font-size: 20px;
    /* font-weight: bold; */
    font-family: sans-serif;
    /* text-shadow: 0px 0px 5px #00ffff; */
    /* text-shadow: 0px 0px 5px white; */
  }
   nav a:hover {
    /* color: #00ffff; */
    color: black;
  }
  
  
  
 
 
  footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding: 20px;
  }
 
 
   .footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
   .footer-column p {
  /* font-weight: bold; */
  font-size: 18px;
  margin: 0 0 10px 0;
  }
   .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  }
   .social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 10px;
  }
   .social-icons i {
  font-size: 24px;
  color: #333;
  }
   .footer-column:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
   .footer-column:nth-child(2) a {
  color: #555;
  margin: 10px 0;
  text-decoration: none;
  font-size: 14px;
  /* font-weight: bold; */
  text-transform: uppercase;
  }
   .footer-column:nth-child(2) a:hover {
  color: #000;
  }
 