body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-vector/flat-hand-drawn-wavy-colored-groovy-background_23-2148848394.jpg?w=996&t=st=1681569823~exp=1681570423~hmac=7234a3abb4debf9ef0520a8736e90e0dc1511c3f24b93b6cddfaedc78c6efa4a');
    background-size: cover;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: orange;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
}

a {
    text-decoration: none;
  }
  
.friend-requests-heading {
    color: orange;
    border-bottom: 1px solid orange;
    padding-bottom: 20px;
  }


button#sidebar-toggle {
	background-color: white;
    color: orange;
    border: 2px solid orange;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
}

button#sidebar-toggle:hover {
    background-color: black;
    color: orange;
    border-color: orange;
  }


main {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

.friend-card {
	flex-basis: calc(23.33% - 20px);
	margin: 50px;
	background-color: #eee;
	padding: 20px;
	text-align: center;
}

img {
	border-radius: 50%;
	margin-bottom: 10px;
}

aside#sidebar {
	position: fixed;
	top: 0;
	display: none;
	width: 400px;
	height: 100%;
    background-image: url('https://img.freepik.com/free-vector/floral-ornamental-abstract-background_52683-30016.jpg?w=996&t=st=1681569685~exp=1681570285~hmac=7e704570e7663e248d36f2e9113f3ebfc556be2d41fc135fe7e06ba631e4fd4f');
    background-size: cover;
	color: #fff;
	padding: 20px;
	transition: right 0.5s ease;
    overflow-y: auto; 
}

#sidebar-toggle:focus + #sidebar {
	right: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  img {
    width: 60px;
    height: 60px;
    border-radius: 60%;
    margin-right: 10px;
}

 button#accept-btn {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }
  
  button#accept-btn:hover {
    background-color: lightgreen;
  }
  button#reject-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
  }

  button#reject-btn:hover {
    background-color: lightcoral;
  }
  
  .friend-name {
    display: inline-block;
    width: 60%;
    color: white;
    font-size: 16px;
  }
  
  .friend-actions {
    display: inline-block;
    width: 40%;
    text-align: right;
  }
  
  .friend-actions button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }
  
  .friend-actions button.accept {
    background-color: #2ecc71;
    color: #fff;
    box-shadow: none;
  }
  
  .friend-actions button.reject {
    background-color: #e74c3c;
    color: #fff;
    box-shadow: none;
  }
  
  #sidebar li:not(:last-child) {
    border-bottom: 1px solid orange;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .user-name {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    transition: color 0.3s ease-in-out, font-style 0.3s ease-in-out;
    text-decoration: none;
  }
   .user-name:hover {
    color: orange;
    font-style: italic;
  }

  button#remove {
	background-color: white;
    color: orange;
    border: 2px solid orange;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
}

button#remove:hover {
    background-color: black;
    color: orange;
    border-color: orange;
  }