
body {
	margin: 0;
	padding: 0;
    background-image: url('https://img.freepik.com/free-vector/paper-style-white-monochrome-background_52683-66443.jpg?t=st=1681385230~exp=1681385830~hmac=b80538b47ef3a950c38640701c6949639603f988984c1fc82d8fa209998eaaed');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
header {
    background-color: orange;
    height: 109px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
.logo h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.logo a {
    color: #ffffff;
    text-decoration: none;
    font-size: 35px;
    /* font-weight: bold; */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* text-shadow: 0px 0px 5px #00ffff; */
    text-shadow: 0px 0px 5px orange;
    display: inline-block;
    transition: transform 0.5s ease;
  }
   .logo a:hover {
    transform: rotate(360deg);
  }
   nav ul {
    display: flex;
  }
   nav li {
    margin-right: 20px;
  }
   nav a {
    /* color: #ffffff; */
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
  }
   nav a:hover {
    /* color: #00ffff; */
    color: black;
  }
.profile-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
    font-family: Arial, sans-serif;
}

.profile-image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
    background-color: #f0f0f0;
}

.profile-image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
}

.profile-name {
	margin-top: 20px;
	margin-bottom: 5px;
    font-family: Arial, sans-serif;
}

.profile-username {
	margin-top: 0;
	color: #999;
    font-family: Arial, sans-serif;
}

.edit-profile-button {
    background-color: orange;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-bottom: 20px;
	cursor: pointer;
    border-radius: 20px;
}

.friend-request-button {
	background-color: orange;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-bottom: 20px;
	cursor: pointer;
    border-radius: 20px;
}

.friend-request-button:hover {
	background-color: grey;
    color: white;
    transition: background-color 0.5s ease;
}

.edit-profile-button:hover {
	background-color: grey;
    color: white;
    transition: background-color 0.5s ease;
}

.profile-info-container {
	flex: 3;
	padding: 30px;
    margin-top: 130px;
}

.profile-details-container {
	display: flex;
	flex-direction: column;
}

.profile-detail {
	margin-bottom: 40px;
}

.profile-detail h3 {
	margin-top: 0;
    border-bottom: 2px solid orange;
    display: inline-block;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.profile-detail p {
	margin-top: 0;
	color: #555;
}

.profile-details-box {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
  }