
body {
	margin: 0;
	padding: 0;
    background-image: url("https://images.squarespace-cdn.com/content/v1/57b48f0de4fcb59cf4918662/1542211584127-00VY1F22708P63992EED/creative-white-background-websites-editing-picsart-endear-images-for.jpg?format=2500w");
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    background-color: orange;
    height: 109px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
.logo h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.logo a {
    color: #ffffff;
    text-decoration: none;
    font-size: 35px;
    /* font-weight: bold; */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* text-shadow: 0px 0px 5px #00ffff; */
    text-shadow: 0px 0px 5px orange;
    display: inline-block;
    transition: transform 0.5s ease;
  }
   .logo a:hover {
    transform: rotate(360deg);
  }
   nav ul {
    display: flex;
  }
   nav li {
    margin-right: 20px;
  }
   nav a {
    /* color: #ffffff; */
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
  }
   nav a:hover {
    /* color: #00ffff; */
    color: black;
  }
.profile-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.profile-image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	/* background-image: url('https://img.freepik.com/premium-vector/abstract-modern-white-grey-background-texture-chaotic-polygonal-surface-background-design_266639-1403.jpg?w=996');
    background-size: cover; */
    background-color: white;
}

.profile-image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
}

.profile-name {
	margin-top: 20px;
	margin-bottom: 5px;
}

.profile-username {
	margin-top: 0;
	color: #999;
}

.edit-profile-button {
    background-color: orange;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-bottom: 20px;
	cursor: pointer;
}

.friend-request-button {
	background-color: orange;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-bottom: 20px;
	cursor: pointer;
    /* transition: opacity 0.1s ease-in-out; */
}

.friend-request-button:hover {
	background-color: grey;
    color: white;
    transition: background-color 0.5s ease;
}

.edit-profile-button:hover {
	background-color: grey;
    color: white;
    transition: background-color 0.5s ease;
}

.profile-info-container {
	flex: 3;
	padding: 30px;
    margin-top: 130px;
}

.profile-details-container {
	display: flex;
	flex-direction: column;
}

.profile-detail {
	margin-bottom: 20px;
    /* background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    padding: 10px; */
}

.profile-detail h3 {
	margin-top: 0;
}

.profile-detail p {
	margin-top: 0;
	color: #555;
}

.profile-details-box {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
  }