
body {
	margin: 0;
	padding: 0;
    background-image: url('https://i.pinimg.com/originals/f2/09/51/f20951bbbcede63d9a5f7e016cc83372.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.hobbyist {
    font-size: 38px !important; /* increase font size */
    font-style: italic; /* make the font italic */
    color: white !important; /* change font color to white */
  }
   .nav-link {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 5px !important; /* adjust spacing between the icon and the text */
    margin-right: 30px !important;
    color: white !important;
 }
 .nav-link:hover {
    color: black !important;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
  }


.profile-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
    font-family: Arial, sans-serif;
}

.profile-image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
    background-color: #f0f0f0;
}

.profile-image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
}

.profile-name {
	margin-top: 20px;
	margin-bottom: 5px;
    font-family: Arial, sans-serif;
}

.profile-username {
	margin-top: 0;
	color: #999;
    font-family: Arial, sans-serif;
}

.edit-profile-button {
    background-color: orange;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-bottom: 20px;
	cursor: pointer;
    border-radius: 20px;
}

.friend-request-button {
	background-color: orange;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-bottom: 20px;
	cursor: pointer;
    border-radius: 20px;
}

.friend-request-button:hover {
	background-color: grey;
    color: white;
    transition: background-color 0.5s ease;
}

.edit-profile-button:hover {
	background-color: grey;
    color: white;
    transition: background-color 0.5s ease;
}

.profile-info-container {
	flex: 3;
	padding: 30px;
    margin-top: 130px;
}

.profile-details-container {
	display: flex;
	flex-direction: column;
}

.profile-detail {
	margin-bottom: 40px;
}

.profile-detail h3 {
	margin-top: 0;
    border-bottom: 2px solid orange;
    display: inline-block;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.profile-detail p {
	margin-top: 0;
	color: #555;
    font-size: 25px;
}

.profile-details-box {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
  }