.hobbyist {
    font-size: 38px !important; /* increase font size */
    font-style: italic; /* make the font italic */
    color: white !important; /* change font color to white */
  }
   .nav-link {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 5px !important; /* adjust spacing between the icon and the text */
    margin-right: 80px !important;
    color: white !important;
 }
 .nav-link:hover {
    color: black !important;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
  }
  .navbar {
    z-index: 1 !important;
  }
  
 