body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('hobbyist_bg.jpeg');
  background-size: cover;
   position: relative;
  }


.hobbyist {
    font-size: 38px !important; /* increase font size */
    font-style: italic; /* make the font italic */
    color: white !important; /* change font color to white */
  }
   .nav-link {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 5px !important; /* adjust spacing between the icon and the text */
    margin-right: 30px !important;
    color: white !important;
 }
 .nav-link:hover {
    color: black !important;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
  }

  .room-box {
    display: inline-block;
    width: 30%;
    margin: 1.5%;
    padding: 1.5%;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    background-color: #f0f0f0;
    text-align: center;
    }
    
    
    
    
    .room-box img {
    display: block;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    }
    
    
    
    
    .room-box:hover {
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
          cursor: pointer;
        }
    
    
    
    
    .room-box h3 {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    }
    
    
    
    
    .room-box p {
    margin-top: 5px;
    font-size: 0.9rem;
    }
    
    
    
    
    .room-box span {
    font-size: 0.8rem;
    font-weight: bold;
    }
    
    
    
    
    .room-box button {
    display: block;
    margin: 10px auto 0 auto;
    padding: 10px 20px;
    border: 2px solid #2196F3;
    border-radius: 25px;
    background-color: #2196F3;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    }
    
    
    
    
    .room-box button:hover {
    background-color: #fff;
    color: #2196F3;
    border: 2px solid #2196F3;
    }
    
    a:link {
      text-decoration: none;
  }
    
    
    /* .room-container{
      
      } */
  
    body::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.05);
      z-index: -1;
     }
      h1 {
       text-align: center;
       margin-bottom: 20px;
     }
      .room-container {
       margin-top: 180px;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
     }
