  body{
    margin: 0;
    padding: 0;
  }

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  
  .img-container {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .login-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
  }
  
  .login-box {
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
  }
  
  .user-box {
    position: relative;
  }
  
  .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #FFA500;
    outline: none;
    background: transparent;
  }
  
  .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .user-box input:focus ~ label,
  .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #FFA500;
    font-size: 12px;
  }
  
  .message .invalid {
    display: none
  }
